<div class="col-md-8 col-md-offset-2 text-center" >
  <h3><%= @job.title %></h3>
  <hr>
  <p><%= simple_format(@job.description) %></p>
</div>
<div class="text-center col-md-10 col-md-offset-1" style="margin-top:100px;text-decoration:underline">
  <h3><a href="#">提交简历</a></h3>
</div>
