<div class="pull-right">
  <%= link_to("新增", new_admin_job_path, :class => "btn btn-default") %>
</div>
<hr>
<table class="table table-boldered">
  <%= render :partial => "job-item", :collection => @jobs, :as => :job %>
</table>
